a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(12, 167, 12);
    text-decoration: underline;
}

body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

figure img {
    padding: 100px;
    max-width: 25%;
    max-height: auto;
    float: right;
}

figcaption {
    margin-right: -316px;
    margin-top: 620px;
    float: right;
}

.flashpoint figcaption {
    margin-right: -440px;
    margin-top: 620px;
    float: right;
}

.white_knight figcaption {
    margin-right: -440px;
    margin-top: 620px;
    float: right;
}

.three_jokers figcaption {
    margin-right: -430px;
    margin-top: 660px;
    float: right;
}

figcaption a {
    font-size: 25px;
}

div.profile {
    margin-top: 50px;
}
div.profile img {
    max-width: 3%;
    max-height: auto;
    margin-left: 40px;
    float: left;
}

div.profile span {
    font-size: 20px;
    margin-left: 10px;
}

div.articles {
    max-width: 500px;
    max-height: auto;
    float: right;
    font-size: 23px;;
}

div.articles a {
    font-size: 20px;
    margin-left: 10px;
}

div.articles div.should_joker_link {
    margin-top: 25px;
}

div.articles img {
    max-width: 10%;
    margin-bottom: -15px;
}

div.middle_image_first img {
    max-width: 40%;
    max-height: auto;
    margin-left: 190px;
    margin-top: -70px;
}

div.middle_image img {
    max-width: 40%;
    max-height: auto;
    margin-left: 275px;
    margin-top: -700x;
}

div.middle_vid video {
    max-width: 40%;
    max-height: auto;
    margin-left: 275px;
    margin-top: -700x;
}

header {
    background-color: black;
    background-image: url("../images/dark.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 300px;
    padding: 20px;
    text-align: center;
    float: inline-end;
    
}

header ul a {
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin-top: 130px;
}

header img {
    width: 25%;
    margin-top: 20px;
    margin-bottom: -90px;
    margin-right: 1100px;
}


header a:hover {
    color: rgb(12, 167, 12);
}

footer {
    background: black;
    color: white;
    font-size: 25px;
    height: 150px;
    padding: 30px 20px;
    text-align: center;
}

footer .contacts {
    color: grey;
    font-size: 12px;
    margin-top: 110px;
}

h2 {
    color: black;
    font-size: 32px;
    margin-left: 275px;
    margin-right: 600px;
}

div.articles hr {
    background-color: rgb(151, 148, 148);
    margin-top: 1px;
    margin-right: 450px;
    width: 350px;
    height: 1.5px;
}

section.works_cited hr {
    background-color: rgb(151, 148, 148);
    margin-top: 30px;
    margin-left: 270px;
    margin-bottom: 30px;
    width: 700px;
    height: 1.5px;
}

section.works_cited span.title {
    font-size: 30px;
    padding-left: 276px;
}

.works_cited li {
    list-style-type: none;
    padding-bottom: 20px;
}

section.works_cited li a {
    margin-left: 276px;
}

.works_cited span.br {
    padding-left: 276px;
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.tooltip {
    position: relative;
    font-size: 20px;
    color: rgb(81, 80, 80);
    font-weight: 600;
}

.tootip:before, .tooltip:after {
    position: absolute;
    content: '';
    transition: all 0.4s ease;
    opacity: 0;
}

.toolitp:before {
    border-width: 10px, 8px, 0px, 8px;
    border-style: solid;
    border-color: #ff34 transparent transparent transparent;
    top: -15px;
    transform: translateY(20px);
}

.tooltip:after {
    content: attr(data-tooltip);
    background: rgb(218, 216, 216);
    height: 140px;
    width: 350px;
    font-size: 20px;
    font-weight: 300;
    top: -160px;
    text-align: center;
    left: -80px;
    padding: 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
}

.tooltip:hover:before, .tooltip:hover:after {
    transform: translateY(-2px);
    opacity: 1;
}

nav li {
    display: inline-block;
    margin: 20px;
}

.information {
    color: rgb(69, 69, 69);
}

.sources li {
    list-style-type: none;
    margin: 20px;
    margin-left: 280px;
}

.sources {
    padding-bottom: 20px;
}

span.indent {
    margin-left: 50px;
}

p {
    font-size: 22px;
    margin-left: 275px;
    margin-right: 600px;
}

p.last_para {
    padding-bottom: 60px;
}